SERVER_PORT=
DB_HOST=
DB_PORT=
DB_PORT_EXTERN=
DB_USER=
DB_PASSWORD=
DB_NAME=
MINIO_HOST=
MINIO_PORT_API=
MINIO_PORT_API_EXTERN=
MINIO_PORT_WEB=
MINIO_PORT_WEB_EXTERN=
MINIO_USER=
MINIO_PASSWORD=
MINIO_BUCKET=